* contact number 
* full Address
* Company full name 
* Email
* Social media if have any
	.facebook
	.instagram
	.pinterest
	.LinkedIn
	.Youtube
* Details of Team members
	.photo
	.position (ex. CEO founder,head of operations, head of marketing)
	.member social media handle if have any (linkedIn, Instagram)
	.some info about them/there work .