/* < !-- Demo styles --> */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap'); */
html,
body {
    position: relative;
    height: 100%;
    
}

.swiper {
    width: 100%;
    height: 100%;
    z-index:0;
}

.swiper-slide {
    text-align: left;

    /* background: rgb(149, 27, 197); */
    font-family: 'Open Sans', sans-serif ;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
}
.swiper-slide p{
    line-height: 1rem !important;     
    font-family: 'Open Sans', sans-serif;
}
.swiper h3{
    font-family: 'Aboreto', cursive !important;
    animation-iteration-count: infinite;
    animation-duration: .2s;
}

/* .myP p{
    line-height: 14px;
    font-size: 1rem;
    font-weight: bolder !important;
    font-family: 'Open Sans', sans-serif;
} */

.swiper-slide img {
    display: block;
    width: 90%;
    height: 35vh;
    object-fit: cover;
    border-radius: 12px 15px 15px 15px; 
}
@media only screen and (max-width:420px) {
    .swiper-slide img {
            display: block;
            width: 120%;
            height: 25vh;
            object-fit: cover;
            border-radius: 12px 15px 15px 15px;
        }
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    background-color: white;
    padding: 2rem;
    margin-top: -4vh;
    box-shadow: 0 0 10px grey;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}

